In [1]:
import sqlite3 as lite

conn = lite.connect('user.db')
cur = conn.cursor()
cur.execute("SELECT * FROM user")
rows = cur.fetchall()

for row in rows:
    print(row)
conn.close()

(1, 'Fastcampus', 3, 'python')

In [2]:
conn = lite.connect('user.db')

cur = conn.cursor()
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('ythwork', 30, 'c')")
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('ulgoon', 28, 'golang')")
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('hdshin', 29, 'facebook')")

cur.execute("SELECT * FROM user")
rows = cur.fetchall()
for row in rows:
    print(row)
conn.commit()
conn.close()

(1, 'Fastcampus', 3, 'python')
(2, 'ythwork', 30, 'c')
(3, 'ulgoon', 28, 'golang')
(4, 'hdshin', 29, 'facebook')

In [3]:
conn = lite.connect('user.db')

with conn:
    cur = conn.execute("select id, name, age, lang from user")
    for row in cur:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3], "\n")
    
print("print closed")
conn.close()

id =  1
name =  Fastcampus
age =  3
lang =  python

id =  2
name =  ythwork
age =  30
lang =  c

id =  3
name =  ulgoon
age =  28
lang =  golang

id =  4
name =  hdshin
age =  29
lang =  facebook

print closed

In [4]:
conn = lite.connect('user.db')

cur = conn.cursor()

with conn:
    conn.execute("UPDATE user SET lang = 'python' where id = 2")
    conn.commit()
conn.close()

In [5]:
conn = lite.connect('user.db')

with conn:
    cur = conn.execute("select id, name, age, lang from user")
    for row in cur:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3], "\n")
    
print("print closed")
conn.close()

id =  1
name =  Fastcampus
age =  3
lang =  python

id =  2
name =  ythwork
age =  30
lang =  python

id =  3
name =  ulgoon
age =  28
lang =  golang

id =  4
name =  hdshin
age =  29
lang =  facebook

print closed

In [9]:
conn = lite.connect('user.db')

with conn:
    conn.execute("DELETE from user where id = 3")  ###Delete some row
    conn.commit()
    print("Deletion complete", "\n")

    user_data = conn.execute("select id, name, age, lang from user")
    for row in user_data:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3], "\n")        
    
conn.close()

Deletion complete

id =  1
name =  Fastcampus
age =  3
lang =  python

id =  2
name =  ythwork
age =  30
lang =  python

id =  4
name =  hdshin
age =  29
lang =  facebook